@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  /* ========= COLORS ========= */

  /* ### Primary */
  --color-blue-400: hsl(180, 66%, 49%);
  --color-purple-950: hsl(257, 27%, 26%);

  /* ### Secondary */
  --color-red-400: hsl(0, 87%, 67%);

  /* ### Neutral */
  --color-gray-400: hsl(0, 0%, 75%);
  --color-gray-500: hsl(257, 7%, 63%);
  --color-gray-900: hsl(255, 11%, 22%);
  --color-gray-950: hsl(260, 8%, 14%);

  /* ========= TYPOGRAPHY ========= */
  --font-poppins: "Poppins", sans-serif;
  /* ##  font weight */
  /* --weight-500: 500;
  --weight-700: 700; */
}

/* =========================
   Base styles
========================= */
@layer base {
  html,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
  }
  body {
    background-color: #f0f1f6;
    font-size: 18px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* img {
    max-width: 100%;
  } */
  button {
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  p{
    font-weight: 500;
    color: var(--color-gray-500);
    line-height: 1.5;
  }
}
/* =========================
   Component styles
========================= */
@layer components {
  .container {
    @apply container mx-auto px-4 md:px-6 lg:px-16 py-6;
  }
  .btn {
    @apply px-6 py-2 rounded-lg font-medium transform transition-transform duration-300 hover:scale-105 cursor-pointer;
  }

  .btn-primary {
    @apply font-medium bg-blue-400 text-white hover:bg-blue-400/80 px-3 py-1 rounded-full transform transition-transform duration-300 hover:scale-105 cursor-pointer;
  }

  .nav__link {
    @apply font-medium text-gray-500 hover:text-gray-950 transform transition-transform duration-300 hover:scale-105 cursor-pointer;
  }

  .card {
    @apply bg-white shadow-md rounded-xl p-6;
  }
}

/* =========================
   Utility styles
========================= */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
